<!DOCTYPE html>
<html>
    
<head>
    <script type="text/javascript" src="../Functionality.js"></script>
    <link rel="stylesheet" href="../Styleweb.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900&display=swap" rel="stylesheet">
</head>
<body id="DollarmitesBackground">
    <div id="StartupContainer">
        <!-- Join Now Section, leads to onboarding or Commonwealth Bank Website    -->
        <h1>DOLLARMITES</h1>
        <a href="Page 2.html"><button id="joinnowbutton">Join Now!</button> </a>
        <p id="AlreadyMember">Already a Member? <a href="https://www.commbank.com.au/personal/kids/school-banking/dollarmites.html">Click Here.</a><br />
        </p>
      </div>

</body>
</html>joijoij