<!DOCTYPE html>
<html>
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="../Functionality.js"></script>

<link rel="stylesheet" href="../Styleweb.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:100&display=swap" rel="stylesheet">
</head>
<!-- Page for Asking Age, if younger than 10, not allowed to join page -->
<body id="SecondPageBackground">
    <div class="QuestionBox">
        <h2 class="Question">How old are you?</h2>
        <a href="Page 3.html"><button class="ButtonOption CommonButton ButtonHover">Older than 10</button></a>
        <br>
           <br>   
           <br>
            <button onclick="Youngerthan13()" class="ButtonOption ButtontoLeft CommonButton ButtonHover">Younger than 10</button>  
        <p class="AlertText"></p>
    </div>
</body>
</html>