<!DOCTYPE html>
<html>
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="../Functionality.js"></script>

<link rel="stylesheet" href="../Styleweb.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:100&display=swap" rel="stylesheet">
<!-- One more step page, User simply creates username and Password whilst following requirements  -->
</head>
<body id="lastpageBackground">
    <div class="QuestionBox" id="QuestionBoxBigger">
        <h2 class="Question" id="QuestionBigger"> One More Step!</h2>
        <h2 class="Question"id="QuestionSmaller">Lets Create Your User!</h2>
        <br>
            <label class="FormQuestion">Username</label>
            <input id="Username" class="FormFillin" type="text" placeholder="Enter Here">    
            <h2 class= "TinyBracket"   >(Make it fun!must be longer than 4 letters)</h2> 
        <br>
        <br>
            <label class="FormQuestion">Password</label>
            <input id="Password" class="FormFillin" type="text" placeholder="Enter Here">
            <h2 class= "TinyBracket"   >(Must have 9 letters)</h2> 
       <!-- Javascript Tag, if user doesn't follow requirements they can't create a Username and Password -->
        <div>
            <button onclick="submitInformation()" class="SubmitButton CommonButton ButtonHover FormFillinBreak">OK</button>
            <p id="UserAlertText"></p>
            <p id="PasswordAlertText"></p>            
        </div>
</body> 
</html>