<!DOCTYPE html>
<html>
    
<head>
    <script type="text/javascript" src="../Functionality.js"></script>
    <link rel="stylesheet" href="../Styleweb.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900&display=swap" rel="stylesheet">
    <!-- Last Page, congratulates the user and hypothetically would lead user to their account by loading the page -->
</head>
<body id="DollarmitesBackground">
    <div id="StartupContainer">
           
        <h1 id="Great">Great!</h1>
        <h2 class="Question" id="Official">You are Now an Offical Dollarmite!</statement>
            <br>
        <h2 class="Question" id="Loading"> You will now be loaded to your Dollarmites Page</h2>
        </p>
      </div>

</body>
</html>