<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../Styleweb.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:100&display=swap" rel="stylesheet">
    
    <!-- Bank Details section, the user is told what they need in order to register their card details inorder to add more reliability-->
    <div class="BankDetailsBox">
        <h2 class="BankStatement">What you Need to Register</h2>
        <ul class=list>
            <li>Debit Card</li>
            <li>Credit Card</li>
            <li>Keycard</li>
            <li>Travel Money Card</li>
        </ul>  

     <!-- User is asked whether they have an account with Commonwealth Bank, so that this account can be linked          -->
    </div>
    <div class="BankDetailsBox" id="BankDetails2">
        <h3 class="Question" id="QuestionBank"> Do you already have an account with Commonwealth Bank?</h3>
        <button id="YesButton">Yes</button></a>
        <button id="NoButton">No</button></a>
        <br>
        <br>
        <br>
        <label class="FormQuestion" id="FormtoRight">Full Name</label>
        <input class="FormFillin" type="text" placeholder="Must Be on Card"> 

        <!-- Card detail input section, cardholer types described inbetween -->
    </div>
    <div class="BankDetailsBox" id="BankDetails3">
        <label class="FormQuestion" id="FormtoRight">Card Number</label> 
        <input class="FormFillin" type="text" Placeholder="Select" >
        <br>
        <h2>Cardholder Type</h2>
        <ul class=list id="Cardholder">
                <li>Primary Cardholder</li>
                <li>Additional Cardholder</li>
        </ul>  
        <br>
        <label class="FormQuestion" id="FormtoRight">Card Pin</label> 
        <input class="FormFillin" type="text" Placeholder="Select" >
    </div>
   
</head>
<body id="FifthPageBackground">

        <a href="Page 6.html"> <button id="OkButton">OK</button></a>
        
</body>
</html>